@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background-color: #FAF8F5;
    
}

.korea-blue { background-color: #262626; }
.korea-red { background-color: #C44F54; }
.bg-hero {
    background-image: url('https://source.unsplash.com/random/1920x1080/?seoul-skyline,night');
}
.bg-culture {
    background-image: url('https://source.unsplash.com/random/1920x1080/?gyeongbokgung,palace');
}
.bg-nature {
    background-image: url('https://source.unsplash.com/random/1920x1080/?jeju-island,mountain');
}

.background-section {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 0.5s ease-in-out;
}